<!DOCTYPE html>
<html>
<head>
  <link href="../../styles/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../js/jquery.min.js"></script>
  <!-- Custom Theme files -->
  <!--theme-style-->
  <link href="../../styles/style.css" rel="stylesheet" type="text/css" media="all" />
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!---->
  <script src="../../js/bootstrap.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link type = "text/css" rel="stylesheet" href="../../font_awesome/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" herf="../../font_awesome/css/font-awesome.min.css">
</head>
<body>
<div class="header1">
  <div class="container">
    <div class="head-top">
      <div class="logo">
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <!-- login -->

  <!-- //login -->
  <!-- signup -->

  <!-- //signup -->
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <h2>WELCOME TO </br> Know My VIT </h2>

        </br>
        <p style="margin-left: 37%;padding-right:9%">knowmyvit.com </p>
        <a href="/auth/facebook" class="btn"><img  class= "facebook" src="/images/facebook.png" alt="Login with facebook" style="margin-right: 4%;height: 10%;filter: brightness(100%); ;width: 30%;%" ></a>
        <p style="font-size: 1.5em; margin-left: 33%">Made by "Vinit"
        </p>
      </div>
    </div>

  </div>
  <div class="nav-top">
    <div class="container">
      <div class="nav1">
        <div class="navbar1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>


</div>



</body>
</html>






















