<!DOCTYPE html>
<html>
<head>
  <title>Academic A Education Category Flat Bootstrap Responsive Website Template | Gallery :: w3layouts</title>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!---->
  <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!----->
  <link href="../../styles/hostels.css" rel="stylesheet" type="text/css" media="all" />
  <link type = "text/css" rel="stylesheet" href="../../font_awesome/css/font-awesome.css">
  <link type="text/css" rel="stylesheet" herf="../../font_awesome/css/font-awesome.min.css">
  <link href="../../styles/materialize.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../styles/materialize.min.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div class="header head">
  <div class="container">
    <div class="head-top">
      <div class="logo">
        <a href="index.html"><img src="images/bo.png" alt="" title="Academic"></a>
      </div>
      <div class="login">
        <ul class="nav-login">
          <li><a href="#" data-toggle="modal" data-target="#myModal1">Login</a></li>
          <li><a href="#" data-toggle="modal" data-target="#myModal2">Signup</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- login -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-info">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-spa">
          <div class="login-grids">

            <div class="login-right">
              <form action="#" method="post">
                <h3>Signin with your account </h3>
                <input type="text" value="Enter your mobile number or Email" name=" Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your mobile number or Email';}" required="">
                <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                <h4><a href="#">Forgot password</a> / <a href="#">Create new password</a></h4>
                <div class="single-bottom">
                  <input type="checkbox"  id="brand" value="">
                  <label for="brand"><span></span>Remember Me.</label>
                </div>
                <input type="submit" value="SIGNIN" >
              </form>
            </div>

            <p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //login -->
  <!-- signup -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-info">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-spa">
          <div class="login-grids">

            <div class="login-right">
              <form action="#" method="post">
                <h3>Create your account </h3>
                <input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                <input type="text" value="Mobile number" name="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                <input type="text" value="Email id" name="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">
                <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                <input type="submit" value="CREATE ACCOUNT" >
              </form>
            </div>

            <p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //signup -->

  <div class="nav-top">
    <div class="container">
      <div class="nav1">
        <div class="navbar1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if (req.isAuthenticated()) { %>

            <ul class="nav navbar-nav cl-effect-8">
              <li ><a class="" href="/user/show/<%= user.id %>">Home </a></li>
              <li><a href="/user/hostels_1/<%= user.id %>">Hostels</a></li>
              <li><a href="/user/mess_1/<%= user.id %>">Mess</a></li>
              <li><a href="/da/index_da/">Digital assignment</a></li>
              <li><a href="/user/restaurents_1/<%= user.id %>">Restaurents</a></li>
            </ul>
            <% } %>
          </div><!-- /.navbar-collapse -->
        </div>
        <!-- start search-->
        <ul class="social-ic">
          <li><a class="btn btn-sm btn-danger btn-danger btn-warning"  href="/session/destroy">Logout</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--mess-->
<div class="about">
  <div class="container">
    <div class="about-head">
      <h2>Restaurents</h2>
      <p>In this page you can see restaurents nearby VIT.</p>
    </div>


    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Hunderd's Heritage</h4>
        <div class="about-img">
          <img src="/images/100s1.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Mixed Menu with good food quality
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          The only place in Vellore, having good service every single time.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Expensive but worth it.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located in Gandhi Nagar.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>


    <div class="about-grids">
      <div class="col-md-5 about-grid1">
        <h4 >Tom's Diner</h4>
        <div class="about-img">
          <img src="/images/tomsdiner.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>
      </div>
      <div class="col-md-7 about-grid">
        </br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          American diner setting with mostly continental food with good quality.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is Fast and well-mannered
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Expensive
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located right in front of the main gate in the lane which has aunty mess & apna dhaba(0.5km).</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <!--<i class="fa fa-star-o fa-2x" aria-hidden="true" style="color: yellow; "></i>-->
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">
        <h4 >China Valley</h4>
        <div class="about-img">
          <img src="/images/chinavalley.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>
      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Chinese menu including everything from noodles to fried rice to momos.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is fine.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located in between gate 1 & gate 3 near to Flo/Gaurang Mall.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>

      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4>Vellore Fried Chicken</h4>
        <div class="about-img">
          <img src="/images/vfc.png" class="img-responsive" alt="" style="height: 300%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Famous for Tandori Fried Chicken and chicken tandoori tikka.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Moderate.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          22 8th East Main Rd Near Dhanabakyam Kalyana Mandapam, Gandhinagar
          2.9 km from VIT University</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>

      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Olive Kitchen</h4>
        <div class="about-img">
          <img src="/images/olive.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Mixed menu, mostly Indian having good food.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service keeps on varying. Some days pretty good, other days you'd want to rip your hair out.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Moderate.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located above Cafe Coffee Day..</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Vellore Kitchen</h4>
        <div class="about-img">
          <img src="/images/vellorekitchen.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Mixed menu, with fine quality
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Good service.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Moderate.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located near Green Circle/New bus stand.Located in Gandhi Nagar.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Lalit Vihar</h4>
        <div class="about-img">
          <img src="/images/lalitvihar.png" class="img-responsive" alt="" style="height: 85%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Best Vegetarian North Indian menu, mostly Marwadi style of cooking with some pretty authentic Marwadi dishes.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is good but Mostly over crowded, so you might have to wait outside
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located near CMC.. Located in Gandhi Nagar.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Chick In</h4>
        <div class="about-img">
          <img src="/images/chickin.png" class="img-responsive" alt="" style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Fast Food Restaurent
        </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
        Service is slow sometimes.
        </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
        Moderate.
        </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
        In the lane of VIT main gate, Selvam Nagar</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>


      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Apna Dhaba</h4>
        <div class="about-img">
          <img src="/images/apnadhaba.png" class="img-responsive" alt=""style="height: 67%; width: 67%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          One of the good dhaba. The butter chicken and chicken keema are amazing.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is fine.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          AD Street, 11 Opposite Vit University(0.6km).</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Tara Ma</h4>
        <div class="about-img">
          <img src="/images/tarama.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Mixed menu, mostly Indian having good food.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is good.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located in between gate 1 & gate 3</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Limra</h4>
        <div class="about-img">
          <img src="/images/limra.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Famous for fast food like Chicken fried rice ,Egg roll, Cheese stick, Double egg chicken roll etc.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is fast but environment is not that good.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located opposite to All Mart.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Anand Mess</h4>
        <div class="about-img">
          <img src="/images/anandmess.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Exclusively famous for Parathas.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service is fast
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive-A foodie's tummy gets filled under 100 bucks!
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located Just into the lane next to kamraj juice bar,near Saleem Punjabi Dhaba.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>

      </div>

      <div class="clearfix"></div>
    </div>
    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Bihari Dhaba</h4>
        <div class="about-img">
          <img src="/images/bihari.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Mixed menu, mostly Indian having good food.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Service can be pretty late.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located in front of VIT main gate.</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color: yellow; "></i>

      </div>

      <div class="clearfix"></div>
    </div>

    <div class="about-grids">
      <div class="col-md-5 about-grid1">

        <h4 >Punjabi Dhaba</h4>
        <div class="about-img">
          <img src="/images/punjabi.png" class="img-responsive" alt=""style="height: 80%; width: 80%">
        </div>

      </div>
      <div class="col-md-7 about-grid">
        </br></br>
        <h5><i class="fa fa-cutlery" aria-hidden="true"></i>
          Mixed menu, offers good, vegetarian Punjabi food.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          A bit hard to find for a first timer. but it offers good, vegetarian Punjabi food. The Sev Tomato is a must have.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Inexpensive.
          </br>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Located above Cafe Coffee Day..</h5>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
        <i class="fa fa-star  fa-2x" aria-hidden="true" style="color: yellow; "></i>
      </div>

      <div class="clearfix"></div>
    </div>


  </div>
</div>


<!-- Include jQuery & Filterizr -->

<script src="../../js/jquery.filterizr.js"></script>
<script src="../../js/controls.js"></script>
<script type="text/javascript">
  $(function() {
    //Initialize filterizr with default options
    $('.filtr-container').filterizr();
  });
</script>
<!-- Kick off Filterizr -->
<!---->
<!---->
<!--footer-->
<div class="footer">
  <div class="container">
    <div class="col-md-6 footer-left">
      <h3>Information</h3>
      <p class="para">This is website is made for vit students to help them and get their required information without any difficulty. </p>
    </div>
    <div class="col-md-6 footer-right">
      <h3>Contact Us</h3>
      <ul class="con-icons">
        <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>knowmyvit@gmail.com</a></li>
      </ul>
      <p class="copy-right">© 2016 Academic. All rights reserved </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- //swipe box js -->
<link rel="stylesheet" href="css/swipebox.css">
<!-- swipe box js -->
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
  jQuery(function($) {
    $(".swipebox").swipebox();
  });
</script>


</body>
</html>


